@font-face {
    font-family: 'TT Jenevers';
    src: url('/public/fonts/TTJenevers-Regular.eot');
    src: local('TT Jenevers Regular'),
    local('TTJenevers-Regular'),
    url('/public/fonts/TTJenevers-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/TTJenevers-Regular.woff2') format('woff2'),
    url('/public/fonts/TTJenevers-Regular.woff') format('woff'),
    url('/public/fonts/TTJenevers-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'TT Jenevers';
    font-weight: bold;

}

.bg-sand {
    background-color: #FBF7F4;
}
.preview{
    width: 44%;
}

#front_list td{
    font-size: xx-large;
    vertical-align: middle;
    width: 33%;
}

#front_list img{

}

